:root {
  --Heading: "Montserrat", sans-serif;
  --Body: "Roboto", sans-serif;
  --Lime-Green: #1db489;
  --Bright-Red: #dc414c;
  --Very-Dark-Blue: #0a0c1c;
  --Dark-Desaturated-Blue: #252a41;
  --Light-Blue: #1199fa;
  --Desaturated-Blue: #8b97c6;
  --White: #fff;
  --Dark-Grayish-Blue: #63687e;
}
